
{% extends 'Base_Page.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'CSS/User_register.css' %}">

<div class="reg_wrapper">
  <div class="reg_container">
    <form class="form" method="POST">

      {% csrf_token %}

      <div class="title">Admin Registration<br><span>sign up to build with us</span></div>

      <a href="{% url 'users:user_login' %}">
        <div class="go_bak"><</div>
      </a>

      <div style="display:flex;">
          <div>
              <input type="text" placeholder="Firstname" name="firstname" class="input">
              <input type="number" placeholder="Phone Number" name="number" class="input">
              <input type="text" placeholder="Address" name="address" class="input">
              <input type="password" placeholder="Password" name="password" class="input">
          </div>
          <div>
              <input type="text" placeholder="Lastname" name="lastname" class="input">
              <input type="email" placeholder="Email" name="email" class="input">
              <input type="text" placeholder="Dev Name" name="devname" class="input">
              <input type="password" placeholder="Confirm Password" name="confpassword" class="input">
          </div>
      </div>

      <button type="submit"  class="button-confirm">Let`s go →</button>

    </form>
  </div>
</div>

{% endblock %}
