{% extends 'Base_Page.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'CSS/Edit_books.css' %}">

<div class="image-background">
        <img src="{% static 'Images/grid-lines.png' %}" id="background-image">
</div>

<div class="container">
    <div class="container-lg adbk">
        <div class="text-center">
            <h2>Edit your book here</h2>
            <p class="lead">please fill out <u>new details</u> down below </p>
        </div>
        <div class="row justify-content-center ">
            <div class="col-lg-6">
                <form method="POST" enctype="multipart/form-data">

                {% csrf_token %}

                    <label for="title" class="form-label">Title :</label>
                    <input type="text" class="form-control" id="title" name="tit" placeholder="e.g:Harry Potter" value="{{ book.title }}">

                    <label for="author" class="form-label">Author :</label>
                    <input type="text" class="form-control" id="author" name="auth" placeholder="e.g:J. K. Rowling" value="{{ book.author }}">

                    <label for="language" class="form-label">Language :</label>
                    <input type="text" class="form-control" id="language" name="lang" placeholder="e.g:English" value="{{ book.language }}">

                    <label for="price" class="form-label">Price :</label>
                    <input type="number" class="form-control" id="price" name="prc" placeholder="e.g:$100" value="{{ book.price }}">

                    <label for="pages" class="form-label">Pages :</label>
                    <input type="number" class="form-control" id="pages" name="pge" placeholder="e.g:200" value="{{ book.pages }}">

                    <label for="Image" class="form-label">Image :</label>
                    <img src="{{ book.cover.url }}" height="60px" width="50px">
                    <input type="file" class="form-control" id="Image" name="cvr">


                    <label for="PDF" class="form-label">PDF :</label>
                    <a href="{{ book.pdf.url }}">PDF</a>
                        <input type="file" class="form-control" id="PDF" name="pdf1">

                    <label for="Details" class="form-label">Details :</label>
                    <textarea class="form-control" id="Details" name="det" placeholder="Please enter the new details"></textarea>

                    <button type="submit" class="btn_save">Save Changes</button>
                    <a href="{% url 'books:book_view' %}" class="btn_cancel">Discard</a>


                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}