
{% extends 'Base_Page.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'CSS/User_login.css' %}">

<div class="log_wrapper">
    <div class="log_container">
         <form class="form" method="POST">

             {% csrf_token %}

              <div class="title">Welcome,<br><span>Login to continue</span></div>
               <a href="{% url 'users:home' %}" id="bk-img">
                 <div class="go_bak"><</div>
               </a>
              <input type="text" placeholder="Username" name="u" class="input">
              <input type="password" placeholder="Password" name="p" class="input">
              <div class="login-with">
                <div class="button-log">
                  <i class="fa-brands fa-google"></i>
                </div>
                <div class="button-log">
                  <i class="fa-brands fa-facebook-f"></i>
                </div>
                <div class="button-log">
                  <i class="fa-brands fa-apple"></i>
                </div>
                <div class="button-log" id="devb">
                  <a href="{% url 'users:admin_register' %}"><i class="fa-solid fa-code"></i></a>
                </div>
              </div>
              <button class="button-confirm">Login →</button>
              <a href="{% url 'users:user_register' %}" id="reg-link">Not a user? <u>Create an account</u></a>
         </form>
    </div>
</div>
{% endblock %}
